$font-stack:  Poppins, sans-serif

$primary-background: #191919

%pseudo-block
	content: ''
	width: 100%
	height: 3px
	background-color: #fff
	position: absolute
	left: 0




body 
	font-family: $font-stack
	line-height: 1.4
	font-weight: normal
	font-size: 16px

li
	list-style-type: none
	a
		&:hover
			opacity:0.8

a	
	text-decoration: none
	color: inherit


.icon-style
	font-size: 2rem
	padding: 0 1rem

.small-icon-style
	color: #434343

.page
	background-color: $primary-background
	display: flex
	height: 100%
	min-height: 100vh
	color: #fff
	flex-direction: column
	position: relative
			// **************TOP-NAV************** // 

.top-nav
	display: flex
	justify-content: flex-end
	align-items: flex-end
	flex-direction: column
	padding: 1rem 1rem 0

.logo-container
	display: none

.menu-list__icon-container 
	cursor: pointer

	// **************HAMBURGER-MENU************** // 
	button
		padding: 10px
		display: inline-block
		background-color: transparent
		border: 0
		margin: 0
		transition: transform .3s .1s ease-in-out
		.hamburger-box
			width: 35px
			height: 24px
			display: inline-block
			position: relative
			.hamburger-inner
				width: 100%
				height: 3px
				background-color: #fff
				position: absolute
				left: 0
				top: 50%
				transform: translateX(-50%)
				transition: background-color .3s .1s ease-in-out
				&:before
					@extend %pseudo-block
					// top: -10px
					transform: translateY(10px)
					transition: transform .3s .1s ease-in-out

				&:after
					@extend %pseudo-block
					transform: translateY(-10px)
					transition: transform .3s .1s ease-in-out

					// top: 10px
	.hamburger-active
		.hamburger-box
			.hamburger-inner
				transition: transform .3s .1s ease-in-out
				background-color: transparent

				&:before
					transform: translateY(0px) rotate(45deg)
				&:after
					transform: translateY(0px) rotate(-45deg)
			
// **************END-HAMBURGER-MENU************** // 
.menu-list
	height: 0
	width: 100%
	overflow: hidden
	transition: all 0.5s
	li
		border-bottom: 2px solid #fff
		padding: 0.5rem 0
		text-align: center
		a
			text-transform: uppercase
			font-weight: 300
			transition: all 0.5s

.show-links
	height: 5.2rem
	transition: all .5s

.contact-li
	display: flex
	justify-content: center
	a
		&:after
			content: "krzysztof.humienny1996@wp.pl"

			// **************END-TOP-NAV************** // 

			// **************SIDE-NAV************** // 
.side-nav
	display: flex
	position: fixed
	bottom: 0
	background-color: $primary-background
	height: 4rem
	width: 100%
	justify-content: center
	align-items: center
	box-shadow: 0 0 2rem black
	z-index: 999
	border-top: 1px solid #434343
	ul
		display: flex
		justify-content: space-between
		li
			display: list-item
			&:first-of-type
				border-right: 1px solid #434343
			// **************END-SIDE-NAV************** // 

			// **************WRAPPER************** // 
.wrapper
	padding: 1rem
	.heading-text-container
		max-width: 40rem
		overflow: hidden
		h2
			line-height: 1
			font-weight: 600
			text-transform: uppercase
			font-size: 3rem
			overflow: hidden
		.heading-line
			margin: 1rem 0
			display: block
			width: 75%
			height: 3px
			background-color: #fff
		.read-more__link
			text-align: center
			font-size: 1rem
			cursor: pointer
			display: block
			width: 9rem
			border: 2px solid #fff
			padding: 0.3rem 1rem
			transition: all 0.2s ease
			&:hover
				background-color: #fff
				color: $primary-background
		.about
			height: 0
			transition: all 0.5s
		.about__open
			height: 53rem
			transition: all .5s
			padding-top: 1rem
			.about__about-text
				margin-bottom: 1rem
				line-height: 1.4rem
				font-weight: 300
				a
					font-weight: bold
					transition: all 0.5s


			// **************PORTFOLIO************** // 
.portfolio
	padding: 1rem 0
	.portfolio__entry
		margin-bottom: 2rem
		border-bottom: 1px solid #434343
		.entry__img-container
			margin-bottom: 0rem
			border: 3px solid #fff
			border-bottom: none
			position: relative
			overflow: hidden
			.hover-img
				position: absolute
				top: 100%
				transition: all 0.5s
		.entry__right-container
			.entry__link-container
				display: flex
				justify-content: space-evelyn
				position: relative
				margin-bottom: 0.5rem
				a
					font-size: 1rem
					padding: 0.3rem 1rem
					border: 3px solid #fff
					width: 50%
					text-align: center
					transition: all 0.2s ease
					&:hover
						background-color: #fff
						color: $primary-background
					&:first-of-type
						border-right: none
		.entry__title-container
			h2
				font-size: 1.4rem
				font-weight: 600
				margin-bottom: 0.25rem
				text-transform: uppercase
		.entry__about-text
			font-size: 1rem
			line-height: 1.4rem
			font-weight: 300
			color: #fff
		.entry__tools-container
			display: flex
			align-items: center
			justify-content: space-between
			padding-left: 1rem
			padding: 1rem


			// **************END-PORTFOLIO************** // 
			// **************END-WRAPPER************** // 